NODE_ENV=production
PORT=3000
SMTP_HOST=mail.bio-rec.com
SMTP_PORT=465
SMTP_SECURE=true
SMTP_USER=contacto@bio-rec.com
SMTP_PASS=CAMBIAR_EN_CPANEL
CONTACT_TO=contacto@bio-rec.com
CONTACT_FROM=contacto@bio-rec.com
